body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);

}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 200px;
    }

.details {
    padding: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
}
.pName {
    font-size: 27px;
    color: hsl(212, 21%, 14%);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pInfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: hsl(228, 12%, 48%);
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.perfumeImg {
    width: 250px;
}
.prices {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
}
.price {
    font-weight: 700;
    font-size: 25px;
    color: hsl(158, 36%, 37%);
}
.oldPrice {
    padding-left: 20px;
    padding-top: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
.addButton {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    border-radius: 6px;
    border-style: hidden;
    color: white;
    padding: 10px;
    background-color: hsl(158, 36%, 37%);
    font-weight: 700;
}
.cartImg {
    padding-right: 10px;
}
.attribution {
    margin-top: 200px;
}